<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <title>The Woodworking Joint</title>
</head>
<body>
    <div class="nav-infinite-bg">
        <div class="nav-container">
            <div class="nav-left">
                <a href="/dashboard" class="nav-btn">View All Projects</a> |
                <a href="/dashboard/myprojects" class="nav-btn">View My Projects</a> |
                <a href="/dashboard/myfavorites" class="nav-btn">View My Favorites</a>
            </div>
            <div class="nav-right">
                <a href="/logout" class="nav-btn">Logout</a>
            </div>
        </div>
    </div>

    <div class="dashboard-container">
        <div class="dashboard-hero">
            <img class="header-img" src="/static/img/woodworking-header.jpg" alt="Vintage woodworking tools">
            <h3 class="header-subhead">Welcome, {{user.username}}!</h3>
            <h1 class="header-headline">Browse the Woodworking Joint</h1>
            <div class="btn-hero-container">
                <a href="/new" class="btn btn-success btn-hero">Add a Project</a>
            </div>
        </div>

        <div class="dashboard-body">
            <div class="col-auto">
                <div class="dash-box-container">
                    {%for woodproject in woodprojects%}
                        <div class="dash-box-box" id="{{woodproject.id}}">
                            <div class="dash-box-header">
                                <div class="dash-header-left">
                                    <p class="dash-box-title">{{ woodproject.project_name }}</p>
                                </div>
                                <div class="dash-header-right">
                                    <p>
                                        {% if session.user_id not in woodproject.favorited_by and woodproject.favorited_by|length == 0%}
                                            <a href="/favorite/{{woodproject.id}}/{{user.id}}" class="icon-unfav">&#9825;</a>
                                        {% elif session.user_id not in woodproject.favorited_by %}
                                            <a href="/favorite/{{woodproject.id}}/{{user.id}}" class="icon-unfav">&#9825;{{ woodproject.favorited_by|length }}</a>
                                        {% elif session.user_id in woodproject.favorited_by and woodproject.favorited_by|length == 1%}
                                            <a href="/unfavorite/{{woodproject.id}}/{{user.id}}" class="icon-fav">&hearts;</a>
                                        {% else %}
                                            <a href="/unfavorite/{{woodproject.id}}/{{user.id}}" class="icon-fav">&hearts;{{ woodproject.favorited_by|length }}</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <a href="/woodproject/{{ woodproject.id }}">
                                <img class = "dash-box-img" src="/static/user_img/{{ woodproject.image_path }}">
                            </a>
                            <div class="dash-box-content">
                                <p class="dash-box-body">Type: {{ woodproject.type }}</p>
                                <p class="dash-box-body">Skill: {{ woodproject.skill_level }}</p>


                                <p>
                                    <a href="/woodproject/{{ woodproject.id }}" class="dash-box-body dash-text-cta">View</a>
                                    {% if woodproject.user_id == session.user_id %}
                                        | <a href="/edit/{{ woodproject.id }}" class="dash-box-body dash-text-cta">Edit</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>

            <div class="footer-container">
                <div>
                    <a href="/new" class="btn btn-success btn-main">Add a New Project</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>