<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Edit Project</title>
</head>
<body>
    <div class="nav-infinite-bg">
        <div class="nav-container">
            <div class="nav-left">
                <a href="/dashboard" class="nav-btn">View All Projects</a> |
                <a href="/dashboard/myprojects" class="nav-btn">View My Projects</a> |
                <a href="/dashboard/myfavorites" class="nav-btn">View My Favorites</a>
            </div>
            <div class="nav-right">
                <a href="/logout" class="nav-btn">Logout</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="body-container">
            <form class="card-container" action="/update/woodproject/image" method="POST" enctype="multipart/form-data">
                <h3 class="card-headline">{{user.username}}, Edit Your Project:</h3>
                <input type="hidden" name="id" value={{woodproject.id}}>
                <input type="hidden" name="image_path" value={{woodproject.image_path}}>

                <div class="form-row">
                    <div class="col-auto">
                        <label for="image_path" class="col-form-label">Project Image:</label>
                    </div>
                    <div class="col-auto">
                        <input type=file name="woodProjectImg" class="form-control form-placeholder">
                    </div>
                    <div class="error_message">
                        {% with messages = get_flashed_messages(category_filter=['image_path']) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p>{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>

                <div class="col text-center">
                    <input type="submit" value="Update Image" class="btn btn-success btn-main">
                    <div>
                        <a href="/edit/{{ woodproject.id }}" class="text-cta" >Back to Edit Project</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>